// -------------------------------------
//   BH-RADIUS
// -------------------------------------
$radius: 1px;

$radius-3: $radius * 3;
$radius-4: $radius * 4;
$radius-8: $radius * 8;
$radius-max: 99em;
